@media (max-width: 1135px) {
}

@media (min-width: 1135px) {
}

@media (min-width: 750px) and (max-width: 1100px) {

}

@media (max-width: 480px) {
	.navbar-nav .dropdown {
		position: static;
		height: 50px;
	}

	.cart-container {
		display: block;
		width: 300px;
		height: 450px;
	}

	.modal .modal-header {
		padding: 15px 25px 0 25px;
	}
	.package-description ul{
		padding-left: 15px;
	}
	.nav-tabs-simple{
		flex-wrap: nowrap;
		overflow-y: scroll;
	}
	.nav-tabs-simple li{
		white-space: nowrap;
	}
}
