a:focus, a:hover, a:active {
	color: #a65381;
}
.windows h5 {
	font-size: 17px;
	line-height: 22px;
	font-weight: normal;
}
#cart_togggle{
	cursor: pointer;
}
.cart-container {
	display: block;
	width: 450px;
	height: 450px;
}

.cart-container.hide{
	display: none;
}

.workshopTable{

}

.form-group-attached .form-group-default .select2-container .select2-choice, .form-group-attached .select2-container-multi .select2-choices {
	border-color: #56565624;
}

.table tbody tr td {
	background: #fff;
	border-bottom: 1px solid #e6e6e6b3;
	border-top: 0px;
	padding: 10px;
	font-size: 13.5px;
}

.table.workshopTable thead tr th{
	font-size: 12px;
	padding: 10px;
}

.table.workshopTable tbody tr td{
	padding: 0;
}



.table.workshopTable tbody tr.available:hover td{
	background: #0000000a;
}

.table.workshopTable tbody tr.available td.selected, .table.workshopTable tbody tr.available:hover td.selected{
	background: #4bc4ff1c;
}

.table.workshopTable tbody tr td label{
	cursor: pointer;
	display: block;
	margin: 0;
	padding: 10px;
}

.table.table-condensed tbody tr td{
	padding: 10px;
	white-space: normal !important;
}

.table.table-condensed.table-detailed > tbody > tr.shown + tr > td {
	background: #fafafa66;
	padding: 0px;
}

.table.table-condensed.table-detailed > tbody > tr.row-details > td:first-child::before {
	display: none;
}

ul.autocomplete {
	display:block;
	margin: 0;
	padding: 2px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color:#EEEEEE;
	border: 1px solid #DDDDDD;
	max-height: 200px;
	overflow-y: scroll;
	text-align:left;
	z-index:9999;
}
ul.autocomplete li{
	padding: 0;
	cursor:default;
	border:1px solid #EEEEEE;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	list-style: none outside none;
}
ul.autocomplete li.hover{
	border:1px solid #FFA5A5;
	background-color:#FFE0E0;
}
ul.autocomplete li a{
	display:block;
	cursor:default;
	width:100%;
	text-decoration: none;
	outline: medium none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #333333;
}