/* ---------------------------------------------------------------------- */
/*  Typography
/* ---------------------------------------------------------------------- */

html {
  font-size: 100%;
}
@media all and (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}
body {
  font-size: 12px;
	line-height: 1.5;
	color: #5e5959;
	font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-left, .icon-arrow-right {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left::before {
    content: "\f060";
}

.icon-arrow-right::before {
    content: "\f061";
}

.lead {
  font-size: 1.35em;
  line-height: 1.69565217em;
}
.lead p{
  margin-bottom: 20px;
}
.table th{
	font-weight: 400;
}
@media all and (max-width: 767px) {
  h1,
  .h1 {
    font-size: 2.8125em;
    line-height: 1.15555556em;
  }
  h2,
  .h2 {
    font-size: 2em;
    line-height: 1.421875em;
  }
  h3,
  .h3 {
    font-size: 22px;
		line-height: 28px;
  }
  .lead {
    font-size: 1.4375em;
    line-height: 1.41304348em;
  }
}
p,
ul,
ol,
pre,
table,
blockquote {
  margin-bottom: 1;
}
ul,
ol {
  list-style: none;
}
ul:not(.menu):not(.slides):not(.accordion):not(.tabs):not(.tabs-content),
ol:not(.menu):not(.slides):not(.accordion):not(.tabs):not(.tabs-content), div:not(.social) ul{
  margin-bottom: 10px;
	list-style: outside;
}
ul:not(.menu):not(.slides):not(.accordion):not(.tabs):not(.tabs-content):not(.slides), ul:not(.flex-direction-nav), div:not(.social) ul{
	margin-bottom: 10px;
	list-style: disc;
}
ol:not(.menu):not(.slides):not(.accordion):not(.tabs):not(.tabs-content):not(.slides), ul:not(.flex-direction-nav){
	margin-bottom: 5px;
	list-style: decimal;
}
li{
	list-style: inherit;
}
ul.bullets {
  list-style: inside;
}
ol {
  list-style-type: upper-roman;
  list-style-position: inside;
}
blockquote {
  font-size: 2em;
  line-height: 1.421875em;
  padding: 0;
  margin: 0;
  border-left: 0;
}
strong {
  font-weight: 600;
}
hr {
  margin: 1.625em 0;
  border-color: #f4f4f4;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
/*! Typography -- Helpers */
.uppercase {
  text-transform: uppercase !important;
}
.capitalize {
  text-transform: lowercase !important;
	text-transform: capitalize !important;
}
.lowercase {
  text-transform: lowercase !important;
}
.type-sm-bl{
	font-size: 90%;
	font-weight: 400;
}
.type-bold {
  font-weight: bold;
}
.type-italic {
  font-weight: italic;
}
.type-fine-print {
  font-size: 0.6875em;
}
.type-strikethrough {
  text-decoration: line-through;
  opacity: .5;
}
.type-underline {
  text-decoration: underline;
}
.type-body-font {
  font-family: 'Lora', 'Helvetica';
}
/* ---------------------------------------------------------------------- */
/*  Utilities
/* ---------------------------------------------------------------------- */
.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.inline {
  display: inline;
}

.no-radius {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}

.no-border {
  border: none !important;
}

.border-right {
  border-right-style: solid;
  border-right-width: 1px;
  border-color: inherit;
}

.border-left {
  border-left-style: solid;
  border-left-width: 1px;
  border-color: inherit;
}

.border-top {
  border-top-style: solid;
  border-top-width: 1px;
  border-color: inherit;
}

.border-bottom {
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
}

.border-light {
  border-color: rgba(255, 255, 255, 0.2) !important;
}

.panel-white .border-light, .partition-white .border-light {
  border-color: rgba(0, 0, 0, 0.1) !important;
}

.border-dark {
  border-color: rgba(0, 0, 0, 0.1);
}

.panel-white .border-dark, .partition-white .border-dark {
  border-color: rgba(0, 0, 0, 0.3) !important;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.no-display {
  display: none;
}

.example {
  margin: 15px 0;
  padding: 14px 19px;
}

.space5 {
  display: block;
  margin-bottom: 5px !important;
  clear: both;
}


.space7 {
  margin-bottom: 7px !important;
  clear: both;
}

.space10 {
  margin-bottom: 10px !important;
  clear: both;
}

.space12 {
  margin-bottom: 12px !important;
  clear: both;
}

.space15 {
  margin-bottom: 15px !important;
  clear: both;
}

.space20 {
  margin-bottom: 20px !important;
  clear: both;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-horizontal-5 {
  padding: 0 5px !important;
}

.padding-horizontal-10 {
  padding: 0 10px !important;
}

.padding-horizontal-15 {
  padding: 0 15px !important;
}

.padding-horizontal-20 {
  padding: 0 20px !important;
}

.padding-vertical-10 {
  padding: 10px 0 !important;
}

.padding-vertical-15 {
  padding: 15px 0 !important;
}

.padding-vertical-20 {
  padding: 20px 0 !important;
}

.padding-bottom-5 {
  padding: 0 0 5px 0 !important;
}

.padding-bottom-10 {
  padding: 0 0 10px 0 !important;
}

.padding-bottom-15 {
  padding: 0 0 15px 0 !important;
}

.margin-bottom-5 {
  margin: 0 0 5px 0 !important;
}

.margin-bottom-10 {
  margin: 0 0 10px 0 !important;
}

.margin-bottom-15 {
  margin: 0 0 15px 0 !important;
}

.margin-bottom-30 {
  margin: 0 0 30px 0 !important;
}

.margin-right-5 {
  margin: 0 5px 0 0 !important;
}

.margin-right-10 {
  margin: 0 10px 0 0 !important;
}

.margin-right-15 {
  margin: 0 15px 0 0 !important;
}

.margin-right-30 {
  margin: 0 30px 0 0 !important;
}



.vertical-align-bottom {
  vertical-align: bottom;
}

.text-bold {
  font-weight: 600;
}
.text-w-500 {
  font-weight: 500;
}
.text-w-400 {
  font-weight: 400;
}
.text-w-300 {
  font-weight: 300;
}

.text-extra-small {
  font-size: 11px !important;
}

.text-small {
  font-size: 12px !important;
}

.text-large {
  font-size: 16px !important;
}

.text-extra-large {
  font-size: 18px !important;
}

.text-super-large {
  font-size: 28px !important;
}

h1.text-extra-large {
  font-size: 50px !important;
}

.text-azure {
  color: #00bdcc;
}

.text-orange {
  color: #f58a5c;
}

.text-green {
  color: #509d44;
}

.text-blue {
  color: #5f8295;
}

.text-pink {
  color: #dd5a82;
}

.text-purple {
  color: #dd5a82;
}

.text-bricky {
  color: #894550;
}

.text-yellow {
  color: #ffb848;
}

.text-red {
  color: #e66b6b;
}

.text-white {
  color: white;
}

a.text-white {
  color: white;
}
a.text-white:hover {
  color: white;
}

.text-dark, .btn.text-dark {
  color: #333;
}

a.text-dark:hover {
  color: #333;
}

.center {
  text-align: center;
}

.text-light {
  color: rgba(255, 255, 255, 0.6);
}

a.text-light:hover {
  color: rgba(255, 255, 255, 0.8);
}

a.list-group-item.current {
	background-color: #f7f7f7;
	font-weight: 500;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}


@media (max-width: 767px) {
	.text-left-xs {
		text-align: left;
	}
	.text-right-xs {
		text-align: right;
	}
	.text-center-xs {
		text-align: center;
	}
}


.panel-white .text-light, .partition-white .text-light {
  color: rgba(0, 0, 0, 0.3) !important;
}

.panel-white a.text-light:hover, .partition-white a.text-light:hover {
  color: rgba(0, 0, 0, 0.5) !important;
}

.circle-100 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  -webkit-box-shadow: 0 1px 2px #c3c3c3;
  -moz-box-shadow: 0 1px 2px #c3c3c3;
  box-shadow: 0 1px 2px #c3c3c3;
}

.circle-50 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 55px;
  text-align: center;
  display: inline-block;
  -webkit-box-shadow: 0 1px 2px #c3c3c3;
  -moz-box-shadow: 0 1px 2px #c3c3c3;
  box-shadow: 0 1px 2px #c3c3c3;
}

.rate .value {
  font-size: 30px;
  font-weight: 600;
}
.rate i {
  vertical-align: middle;
  padding-bottom: 15px;
}
.rate .percentage {
  vertical-align: middle;
  font-size: 15px;
  padding-bottom: 15px;
}
.rate img {
  display: block;
  position: relative;
  width: 100%;
}

.overlayer {
  display: block;
  position: absolute;
  z-index: 101;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0px, #000000 100%);
  opacity: 1;
}
.overlayer.fullwidth {
  width: 100%;
}
.overlayer .overlayer-wrapper {
  display: block;
  position: relative;
  z-index: 100;
}

.bottom-left {
  bottom: 0;
  left: 0;
  position: absolute;
}

.tags {
  display: inline-block;
  background: #C2C6CD;
  color: white !important;
  text-decoration: none;
  cursor: pointer;
  margin: 0 0 10px 18px;
  padding: 2px 10px 1px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  position: relative;
  transition: all .25s linear;
  white-space: nowrap;
  line-height: 21px;
}
.tags:before {
  content: "";
  border-style: solid;
  border-color: transparent #c5c5c5 transparent transparent;
  border-width: 12px 13px 12px 0;
  position: absolute;
  left: -13px;
  top: 0;
  transition: all .25s linear;
}
.tags:hover {
  background-color: #8B91A0;
  color: #FFFFFF;
}
.tags:hover:before {
  border-color: transparent #8B91A0 transparent transparent;
}
.tags:after {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 50% 50% 50% 50%;
  content: "";
  height: 5px;
  left: -1px;
  position: absolute;
  top: 10px;
  width: 5px;
}

.tooltip-notification {
  cursor: pointer;
  right: 0;
  margin-top: 3px;
  padding: 5px 0;
  position: absolute;
  top: 25px;
  z-index: 10000;
}
.toolbar .tooltip-notification {
  top: 60px;
  right: 20px;
}
.tooltip-notification .tooltip-notification-arrow {
  border-width: 0 5px 5px;
  left: 80%;
  margin-left: -5px;
  top: 0;
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: #292B2E;
  border-style: solid;
  height: 0;
  position: absolute;
  width: 0;
}
.tooltip-notification .tooltip-notification-inner {
  background-color: #292B2E;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 12px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  line-height: normal;
}
.tooltip-notification .tooltip-notification-inner .message {
  color: #BFC0C1;
  font-size: 11px;
  margin-top: -4px;
}
.tooltip-notification .tooltip-notification-inner > div {
  width: 100px;
}

.float-none {
  float: none;
}

.background-dark {
  background: rgba(0, 0, 0, 0.2);
}

.background-light {
  background: rgba(255, 255, 255, 0.6) !important;
}
.background-cover {
  background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.background-contain {
  background-size: contain;
	background-repeat: no-repeat;
}
.radius-3 {
  border-radius: 3px;
}

.radius-5 {
  border-radius: 5px;
}

.radius-10 {
  border-radius: 10px;
}

.stack-right-bottom {
  left: auto !important;
  right: -0.5em !important;
  top: auto !important;
  bottom: -0.5em !important;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.noTransform {
  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
}


/* ---------------------------------------------------------------------- */
/*  Element Position
/* ---------------------------------------------------------------------- */
.pos-relative{
	position: relative !important;
}
.pos-vml{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0,-50%);
}
.pos-vmc{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}



/* ---------------------------------------------------------------------- */
/*  Element Size
/* ---------------------------------------------------------------------- */
.height-100,
.height-90,
.height-80,
.height-70,
.height-60,
.height-50,
.height-40,
.height-30,
.height-20,
.height-10 {
  height: auto;
  padding: 5em 0;
}
@media all and (max-width: 767px) {
  .height-60 {
    height: 60vw;
  }
  .height-70 {
    height: 70vw;
  }
  .height-80 {
    height: 80vw;
  }
  .height-90 {
    height: 90vw;
  }
  .height-100 {
    height: 100vw;
  }
	.height-50,
  .height-40,
  .height-30,
  .height-20,
  .height-10 {
    height: auto;
    padding: 4em 0;
  }
	
}
@media all and (min-width: 767px) {
  .height-10 {
    height: 10vh;
  }
  .height-20 {
    height: 20vh;
  }
  .height-30 {
    height: 30vh;
  }
  .height-40 {
    height: 40vh;
  }
  .height-50 {
    height: 50vh;
  }
  .height-60 {
    height: 60vh;
  }
  .height-70 {
    height: 70vh;
  }
  .height-80 {
    height: 80vh;
  }
  .height-90 {
    height: 90vh;
  }
  .height-100 {
    height: 100vh;
  }
}

.height-155 {
  height: 155px !important;
}

.height-180 {
  height: 180px !important;
}

.height-200 {
  height: 200px !important;
}

.height-230 {
  height: 230px !important;
}

.height-250 {
  height: 250px !important;
}

.height-300 {
  height: 300px !important;
}

.height-350 {
  height: 350px !important;
}

.width-200 {
  width: 200px !important;
}
.gutter-60{
	margin-left: -30px;
	margin-right: -30px;
}
.gutter-60 > [class*='col-'] {
    padding-left: 30px;
		padding-right: 30px;
}
.gutter-30{
	margin-left: -15px;
	margin-right: -15px;
}
.gutter-30 > [class*='col-'] {
    padding-left: 15px;
		padding-right: 15px;
}
.gutter-20{
	margin-left: -10px;
	margin-right: -10px;
}
.gutter-20 > [class*='col-'] {
    padding-left: 10px;
		padding-right: 10px;
}
.gutter-15{
	margin-left: -7.5px;
	margin-right: -7.5px;
}
.gutter-15 > [class*='col-'] {
    padding-left: 7.5px;
		padding-right: 7.5px;
}
.gutter-10{
	margin-left: -5px;
	margin-right: -5px;
}
.gutter-10 > [class*='col-'] {
    padding-left: 5px;
		padding-right: 5px;
}
.gutter-5{
	margin-left: -2.5px;
	margin-right: -2.5px;
}
.gutter-5 > [class*='col-'] {
    padding: 2.5px;
}

.parent-size{
	height: 100%;
	width: 100%;
}
.parent-size-absolute{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.square::after{
	content: '';
	display: block;
	width: 100%;
	padding-top: 100%;
}
/* ---------------------------------------------------------------------- */
/*  Forms
/* ---------------------------------------------------------------------- */
textarea, select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  background-color: #FFFFFF;
	border: 1px solid #DCDCDC;
	border-radius: 3px !important;
	color: #8b91a0;
	font-family: inherit;
	font-size: 1em;
	line-height: 1.2;
	padding: 0.8em;
	transition-duration: 0.1s;
	box-shadow: none !important;
	-webkit-transition: 300ms ease-in-out;
	-moz-transition: 300ms ease-in-out;
	-ms-transition: 300ms ease-in-out;
	-o-transition: 300ms ease-in-out;
	transition: 300ms ease-in-out;
}
textarea:hover, select:hover, input[type="text"]:hover, input[type="password"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="date"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, input[type="number"]:hover, input[type="email"]:hover, input[type="url"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="color"]:hover {
  border-color: #D2D7D7;
}
textarea:focus, select:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus {
  box-shadow: 0px 0px 2px rgba(0,0,0,.1) !important;
	border-color: #b2b2b2 !important;
	background-color: #fbfbfb !important;
}

textarea[disabled], input[disabled], select[disabled] {
  background: #F8F8F8 !important;
  border-color: #F8F8F8 !important;
}
textarea[disabled]:hover, textarea[disabled]:focus, input[disabled]:hover, input[disabled]:focus, select[disabled]:hover, select[disabled]:focus {
  background: #F8F8F8 !important;
  border-color: #F8F8F8 !important;
}

.input-group-addon {
  background-color: #a7acb7;
  border: 1px solid #a7acb7;
  color: white;
}
select.btn {
    width: 150px;
    text-align: left;
    padding: 5px 5px;
    text-transform: capitalize;
}
select.btn option {
	background-color: #fff !important;
	text-align: left;
	padding: 3px 6px;
	text-transform: capitalize;
}

select[multiple="multiple"]:focus option {
  background: #F8F8F8 !important;
}

.has-error .form-control:focus, .has-warning .form-control:focus, .has-success .form-control:focus {
  box-shadow: none;
  border: 1px solid #E6E8E8;
  background-color: #E6E8E8;
}

label {
  font-weight: normal;
  color: #858585;
}

span.input-icon, span.input-help {
  display: block;
  position: relative;
}

.input-icon > input {
  padding-left: 25px;
  padding-right: 6px;
}

.input-icon.input-icon-right > input {
  padding-left: 6px;
  padding-right: 25px;
}

span.input-help > input {
  padding-left: 30px;
  padding-right: 6px;
}

.input-icon > [class*="fa-"], .input-icon > [class*="clip-"] {
  bottom: 0;
  color: #909090;
  display: inline-block;
  font-size: 14px;
  left: 5px;
  line-height: 35px;
  padding: 0 3px;
  position: absolute;
  top: 0;
  z-index: 2;
}

.input-icon.input-icon-right > [class*="fa-"], .input-icon.input-icon-right > [class*="clip-"] {
  left: auto;
  right: 4px;
}

.input-icon > input:focus + [class*="fa-"], .input-icon > input:focus + [class*="clip-"] {
  color: #557799;
}

.help-button {
  background-color: #65BCDA;
  border-radius: 100% 100% 100% 100%;
  color: #FFFFFF;
  cursor: default;
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  height: 20px;
  padding: 0;
  text-align: center;
  width: 20px;
  line-height: 20px;
  top: 7px;
  left: 7px;
}

.help-button:before {
  content: "\f128";
  display: inline;
  font-family: FontAwesome;
  font-weight: 300;
  height: auto;
  text-shadow: none;
  font-style: normal;
}

select.form-control {
  background-color: #FFFFFF;
  border: 1px solid #D5D5D5;
  border-radius: 0 0 0 0;
  color: #858585;
}

select.form-control option {
  padding: 3px 4px;
}

.form-control.search-select {
  padding: 0 !important;
  box-shadow: none;
  border: none;
}

textarea.autosize {
  vertical-align: top;
  transition: height 0.2s;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
  overflow: hidden;
  word-wrap: break-word;
  resize: horizontal;
  height: 69px;
}

.radio label.radio-inline, .checkbox label.checkbox-inline {
  display: inline-block;
}

.radio-inline, .radio-inline + .radio-inline, .checkbox-inline, .checkbox-inline + .checkbox-inline {
  margin-right: 10px !important;
  margin-top: 5px !important;
  margin-left: 0 !important;
  margin-bottom: 10px !important;
}

.radio label, .checkbox label {
  margin-bottom: 5px;
}

.checkbox-table {
  display: inline-block;
  margin: 2px 0 0 0;
  padding-left: 20px;
  line-height: 10px;
}

.checkbox-table label {
  margin-bottom: 0;
}

[class^="icheckbox_"], [class*="icheckbox_"], [class^="iradio_"], [class*="iradio_"] {
  float: left !important;
  margin: 0 5px 0 -20px !important;
}

.help-inline {
  margin-top: 6px;
  color: #737373;
}

.help-block.error {
  color: #B94A48;
}

.symbol.required:before {
  content: "*";
  display: inline;
  color: #E6674A;
}

.symbol.ok:before {
  content: "\f00c";
  display: inline;
  font-family: FontAwesome;
  color: #468847;
}

.has-error .note-editor, .has-error .cke_chrome {
  border-color: #B94A48 !important;
}

.form-group {
  position: relative;
}

.form-group .text {
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin-top: 7px;
}

/* ---------------------------------------------------------------------- */
/*  Tables
/* ---------------------------------------------------------------------- */
.table > thead > tr > th {
  border-bottom: 1px solid #dfe1e5;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: 1px solid #dfe1e5;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
  background-color: #fbfbfc;
}

.table > tbody > tr.active > td, .table > tbody > tr.active > th {
  background-color: #f6f6f7 !important;
  color: #8b91a0 !important;
}

.table > tbody > tr.active:hover > td, .table > tbody > tr.active:hover > th {
  background-color: #f0f1f3 !important;
  color: #8b91a0 !important;
}

th.center, td.center {
  text-align: center;
}

td.center .dropdown-menu {
  text-align: left;
}

td.small-width {
  width: 15%;
}

.table thead tr {
  color: #707070;
  font-weight: normal;
}

.table.table-bordered thead tr th {
  vertical-align: middle;
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
  vertical-align: middle;
}

.editable-element {
  border-bottom: 1px dashed #0088CC;
  text-decoration: none;
  opacity: 0.5;
  display: inline;
}

.progress.progress-xs {
  height: 7px;
}

.progress.progress-sm {
  height: 12px;
}

.progress.progress-lg {
  height: 20px;
}

.progress.transparent-black {
  background-color: rgba(0, 0, 0, 0.2);
}

/* ---------------------------------------------------------------------- */
/*  Labels and Badges
/* ---------------------------------------------------------------------- */
.badge-success {
  background-color: #5CB85C;
}

.badge-success[href]:hover, .badge-success[href]:focus {
  background-color: #449D44;
}

.badge-warning {
  background-color: #F0AD4E;
}

.badge-warning[href]:hover, .badge-warning[href]:focus {
  background-color: #EC971F;
}

.badge-info {
  background-color: #5BC0DE;
}

.badge-info[href]:hover, .badge-info[href]:focus {
  background-color: #31B0D5;
}

.badge-danger {
  background-color: #D9534F;
}

.badge-danger[href]:hover, .badge-danger[href]:focus {
  background-color: #C9302C;
}

.badge-new {
  background-color: #007AFF;
  border-radius: 12px 12px 12px 12px !important;
  font-size: 11px !important;
  font-weight: 300;
  height: 18px;
  padding: 3px 6px;
  text-align: center;
  text-shadow: none !important;
  vertical-align: middle;
}

.label {
  font-size: 85% !important;
  padding: 0.4em 0.6em !important;
}

.label-inverse, .badge-inverse {
  background-color: #555555;
}


@media (max-width: 767px) {
    .btn-xs-block {
        display: block;
        width: 100%;
    }
    input[type="submit"].btn-xs-block,
    input[type="reset"].btn-xs-block,
    input[type="button"].btn-xs-block {
        width: 100%;
    }
    .btn-block + .btn-xs-block,
    .btn-xs-block + .btn-block,
    .btn-xs-block + .btn-xs-block {
        margin-top: 0.5rem;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .btn-sm-block {
        display: block;
        width: 100%;
    }
    input[type="submit"].btn-sm-block,
    input[type="reset"].btn-sm-block,
    input[type="button"].btn-sm-block {
        width: 100%;
    }
    .btn-block + .btn-sm-block,
    .btn-sm-block + .btn-block,
    .btn-sm-block + .btn-sm-block {
        margin-top: 0.5rem;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .btn-md-block {
        display: block;
        width: 100%;
    }
    input[type="submit"].btn-md-block,
    input[type="reset"].btn-md-block,
    input[type="button"].btn-md-block {
        width: 100%;
    }
    .btn-block + .btn-md-block,
    .btn-md-block + .btn-block,
    .btn-md-block + .btn-md-block {
        margin-top: 0.5rem;
    }
}
@media (min-width: 1200px) {
    .btn-lg-block {
        display: block;
        width: 100%;
    }
    input[type="submit"].btn-lg-block,
    input[type="reset"].btn-lg-block,
    input[type="button"].btn-lg-block {
        width: 100%;
    }
    .btn-block + .btn-lg-block,
    .btn-lg-block + .btn-block,
    .btn-lg-block + .btn-lg-block {
        margin-top: 0.5rem;
    }
}

/* ---------------------------------------------------------------------- */
/*  Panels
/* ---------------------------------------------------------------------- */
.panel {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 1px 2px #c3c3c3;
  -moz-box-shadow: 0 1px 2px #c3c3c3;
  box-shadow: 0 1px 2px #c3c3c3;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: none;
  position: relative;
}

.panel-heading {
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 15px;
  min-height: 50px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.panel-footer {
	padding: 10px 15px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.panel-heading .panel-heading-tabs {
  list-style: none;
  top: 0;
  right: 0;
  position: absolute;
  margin: 0;
  padding: 0;
}
.panel-heading .panel-heading-tabs > li {
  float: left;
  padding: 0 15px;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: inherit;
  height: 50px;
  line-height: 50px;
}
.panel-heading .panel-heading-tabs > li.panel-tools {
  position: relative;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  right: auto;
  top: auto;
}
.panel-heading .panel-heading-tabs > li.panel-tools .tmp-tool {
  right: 20px;
  top: auto;
}
.panel-heading .panel-heading-tabs > li.panel-tools .dropdown {
  line-height: normal;
}

.core-box .heading {
  margin-bottom: 15px;
}
.core-box .core-icon {
  width: 33.3333%;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
.core-box .core-icon .icon-big {
  line-height: 80px;
}
.core-box .core-content {
  margin-left: 33.3333%;
  min-height: 120px;
}
.core-box .heading {
  font-size: 12px;
}
.core-box .title {
  font-size: 20px;
  line-height: 21px;
  margin-bottom: 0;
  font-weight: 400;
}
.core-box .subtitle {
  font-size: 14px;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}
.core-box .content {
  line-height: 20px;
  margin-bottom: 15px;
  position: relative;
  padding-left: 60px;
}
.core-box .content .fa {
  font-size: 50px;
  left: 0;
  top: 0;
  position: absolute;
  width: 40px;
}
.core-box .view-more {
  float: right;
}
.core-box .view-more i {
  display: inline-block;
}

.panel-tools {
  position: absolute;
  right: 10px;
  top: 14px;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.panel:hover .panel-tools {
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.panel-tools .dropdown {
  display: inline-block;
}
.panel-tools .dropdown .dropdown-menu a > i {
  margin-right: 10px;
}
.panel-tools a {
  color: #8b91a0 !important;
  background: none;
	padding: 0;
}
.panel-tools a:hover {
  color: #595e6c !important;
}

.panel-portfolio .portfolio-grid {
  padding: 0;
  text-align: center;
  overflow: hidden;
  max-height: 200px;
  position: relative;
}
.panel-portfolio .portfolio-grid .item {
  overflow: hidden !important;
}
.panel-portfolio .navigator {
  position: relative;
  text-align: center;
  margin-top: -40px;
  margin-bottom: 10px;
  z-index: 101;
}

.panel-grey, .partition-grey {
  background-color: #8b91a0;
  position: relative;
  background-color: #999eab 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#999eab 0px), to(#8b91a0 100%));
  background-image: -webkit-linear-gradient(top, #999eab 0px, #8b91a0 100%);
  background-image: -moz-linear-gradient(top, #999eab 0px, #8b91a0 100%);
  background-image: -ms-linear-gradient(top, #999eab 0px, #8b91a0 100%);
  background-image: -o-linear-gradient(top, #999eab 0px, #8b91a0 100%);
  background-image: linear-gradient(top, #999eab 0px, #8b91a0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#999eab 0px', endColorStr='#8b91a0 100%');
  color: #141518;
}
.panel-grey .panel-tools .btn, .panel-grey .panel-tools > a, .partition-grey .panel-tools .btn, .partition-grey .panel-tools > a {
  color: rgba(20, 21, 24, 0.7) !important;
}
.panel-grey .panel-tools .btn:hover, .panel-grey .panel-tools > a:hover, .partition-grey .panel-tools .btn:hover, .partition-grey .panel-tools > a:hover {
  color: #141518 !important;
}

.panel-light-grey, .partition-light-grey {
  background-color: #dfe1e5;
  position: relative;
  background-color: #edeef0 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#edeef0 0px), to(#dfe1e5 100%));
  background-image: -webkit-linear-gradient(top, #edeef0 0px, #dfe1e5 100%);
  background-image: -moz-linear-gradient(top, #edeef0 0px, #dfe1e5 100%);
  background-image: -ms-linear-gradient(top, #edeef0 0px, #dfe1e5 100%);
  background-image: -o-linear-gradient(top, #edeef0 0px, #dfe1e5 100%);
  background-image: linear-gradient(top, #edeef0 0px, #dfe1e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#edeef0 0px', endColorStr='#dfe1e5 100%');
  color: #8b91a0;
}
.panel-light-grey .panel-tools .btn, .panel-light-grey .panel-tools > a, .partition-light-grey .panel-tools .btn, .partition-light-grey .panel-tools > a {
  color: rgba(139, 145, 160, 0.7) !important;
}
.panel-light-grey .panel-tools .btn:hover, .panel-light-grey .panel-tools > a:hover, .partition-light-grey .panel-tools .btn:hover, .partition-light-grey .panel-tools > a:hover {
  color: #8b91a0 !important;
}

.panel-orange, .partition-orange {
  background-color: #f58a5c;
  position: relative;
  background-color: #f69b74 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f69b74 0px), to(#f58a5c 100%));
  background-image: -webkit-linear-gradient(top, #f69b74 0px, #f58a5c 100%);
  background-image: -moz-linear-gradient(top, #f69b74 0px, #f58a5c 100%);
  background-image: -ms-linear-gradient(top, #f69b74 0px, #f58a5c 100%);
  background-image: -o-linear-gradient(top, #f69b74 0px, #f58a5c 100%);
  background-image: linear-gradient(top, #f69b74 0px, #f58a5c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f69b74 0px', endColorStr='#f58a5c 100%');
  color: white;
}
.panel-orange .panel-tools .btn, .panel-orange .panel-tools > a, .partition-orange .panel-tools .btn, .partition-orange .panel-tools > a {
  color: rgba(255, 255, 255, 0.7) !important;
}
.panel-orange .panel-tools .btn:hover, .panel-orange .panel-tools > a:hover, .partition-orange .panel-tools .btn:hover, .partition-orange .panel-tools > a:hover {
  color: white !important;
}

.panel-purple, .partition-purple {
  background-color: #804c75;
  position: relative;
  background-color: #905684 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#905684 0px), to(#804c75 100%));
  background-image: -webkit-linear-gradient(top, #905684 0px, #804c75 100%);
  background-image: -moz-linear-gradient(top, #905684 0px, #804c75 100%);
  background-image: -ms-linear-gradient(top, #905684 0px, #804c75 100%);
  background-image: -o-linear-gradient(top, #905684 0px, #804c75 100%);
  background-image: linear-gradient(top, #905684 0px, #804c75 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#905684 0px', endColorStr='#804c75 100%');
  color: white;
}
.panel-purple .panel-tools .btn, .panel-purple .panel-tools > a, .partition-purple .panel-tools .btn, .partition-purple .panel-tools > a {
  color: rgba(255, 255, 255, 0.7) !important;
}
.panel-purple .panel-tools .btn:hover, .panel-purple .panel-tools > a:hover, .partition-purple .panel-tools .btn:hover, .partition-purple .panel-tools > a:hover {
  color: white !important;
}

.panel-pink, .partition-pink {
  background-color: #fe6b9f;
  position: relative;
  color: white;
}
.panel-pink .panel-tools .btn, .panel-pink .panel-tools > a, .partition-pink .panel-tools .btn, .partition-pink .panel-tools > a {
  color: rgba(255, 255, 255, 0.7) !important;
}
.panel-pink .panel-tools .btn:hover, .panel-pink .panel-tools > a:hover, .partition-pink .panel-tools .btn:hover, .partition-pink .panel-tools > a:hover {
  color: white !important;
}

.panel-azure, .partition-azure {
  background-color: #00bdcc;
  position: relative;
  background-color: #00d5e6 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00d5e6 0px), to(#00bdcc 100%));
  background-image: -webkit-linear-gradient(top, #00d5e6 0px, #00bdcc 100%);
  background-image: -moz-linear-gradient(top, #00d5e6 0px, #00bdcc 100%);
  background-image: -ms-linear-gradient(top, #00d5e6 0px, #00bdcc 100%);
  background-image: -o-linear-gradient(top, #00d5e6 0px, #00bdcc 100%);
  background-image: linear-gradient(top, #00d5e6 0px, #00bdcc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#00d5e6 0px', endColorStr='#00bdcc 100%');
  color: white;
}
.panel-azure .panel-tools .btn, .panel-azure .panel-tools > a, .partition-azure .panel-tools .btn, .partition-azure .panel-tools > a {
  color: rgba(255, 255, 255, 0.7) !important;
}
.panel-azure .panel-tools .btn:hover, .panel-azure .panel-tools > a:hover, .partition-azure .panel-tools .btn:hover, .partition-azure .panel-tools > a:hover {
  color: white !important;
}

.panel-bricky, .partition-bricky {
  background-color: #894550;
  position: relative;
  background-color: #9a4e5a 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9a4e5a 0px), to(#894550 100%));
  background-image: -webkit-linear-gradient(top, #9a4e5a 0px, #894550 100%);
  background-image: -moz-linear-gradient(top, #9a4e5a 0px, #894550 100%);
  background-image: -ms-linear-gradient(top, #9a4e5a 0px, #894550 100%);
  background-image: -o-linear-gradient(top, #9a4e5a 0px, #894550 100%);
  background-image: linear-gradient(top, #9a4e5a 0px, #894550 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#9a4e5a 0px', endColorStr='#894550 100%');
  color: white;
}
.panel-bricky .panel-tools .btn, .panel-bricky .panel-tools > a, .partition-bricky .panel-tools .btn, .partition-bricky .panel-tools > a {
  color: rgba(255, 255, 255, 0.7) !important;
}
.panel-bricky .panel-tools .btn:hover, .panel-bricky .panel-tools > a:hover, .partition-bricky .panel-tools .btn:hover, .partition-bricky .panel-tools > a:hover {
  color: white !important;
}

.panel-green, .partition-green {
  background-color: #509d44;
  position: relative;
  background-color: #4caf50 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4caf50 0px), to(#509d44 100%));
  background-image: -webkit-linear-gradient(top, #4caf50 0px, #509d44 100%);
  background-image: -moz-linear-gradient(top, #4caf50 0px, #509d44 100%);
  background-image: -ms-linear-gradient(top, #4caf50 0px, #509d44 100%);
  background-image: -o-linear-gradient(top, #4caf50 0px, #509d44 100%);
  background-image: linear-gradient(top, #4caf50 0px, #509d44 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4caf50 0px', endColorStr='#509d44 100%');
  color: white;
}
.panel-green .panel-tools .btn, .panel-green .panel-tools > a, .partition-green .panel-tools .btn, .partition-green .panel-tools > a {
  color: rgba(255, 255, 255, 0.7) !important;
}
.panel-green .panel-tools .btn:hover, .panel-green .panel-tools > a:hover, .partition-green .panel-tools .btn:hover, .partition-green .panel-tools > a:hover {
  color: white !important;
}

.panel-green, .partition-light-green {
  background-color: #7ec6bd ;
  position: relative;
  color: white;
}
.panel-light-green .panel-tools .btn, .panel-light-green .panel-tools > a, .partition-light-green .panel-tools .btn, .partition-light-green .panel-tools > a {
  color: rgba(255, 255, 255, 0.7) !important;
}
.panel-light-green .panel-tools .btn:hover, .panel-light-green .panel-tools > a:hover, .partition-light-green .panel-tools .btn:hover, .partition-light-green .panel-tools > a:hover {
  color: white !important;
}

.panel-red, .partition-red {
  background-color: #F13730;
  position: relative;
  color: white;
}
.panel-red .panel-tools .btn, .panel-red .panel-tools > a, .partition-red .panel-tools .btn, .partition-red .panel-tools > a {
  color: rgba(255, 255, 255, 0.7) !important;
}
.panel-red .panel-tools .btn:hover, .panel-red .panel-tools > a:hover, .partition-red .panel-tools .btn:hover, .partition-red .panel-tools > a:hover {
  color: white !important;
}

.panel-blue, .partition-blue {
  background-color: #007098;
  color: white;
}
.panel-blue .panel-tools .btn, .panel-blue .panel-tools > a, .partition-blue .panel-tools .btn, .partition-blue .panel-tools > a {
  color: rgba(255, 255, 255, 0.7) !important;
}
.panel-blue .panel-tools .btn:hover, .panel-blue .panel-tools > a:hover, .partition-blue .panel-tools .btn:hover, .partition-blue .panel-tools > a:hover {
  color: white !important;
}

.panel-yellow, .partition-yellow {
  background-color: #ffb848;
  position: relative;
  background-color: #ffc261 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc261 0px), to(#ffb848 100%));
  background-image: -webkit-linear-gradient(top, #ffc261 0px, #ffb848 100%);
  background-image: -moz-linear-gradient(top, #ffc261 0px, #ffb848 100%);
  background-image: -ms-linear-gradient(top, #ffc261 0px, #ffb848 100%);
  background-image: -o-linear-gradient(top, #ffc261 0px, #ffb848 100%);
  background-image: linear-gradient(top, #ffc261 0px, #ffb848 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffc261 0px', endColorStr='#ffb848 100%');
  color: #2c2f3b;
}
.panel-yellow .panel-tools .btn, .panel-yellow .panel-tools > a, .partition-yellow .panel-tools .btn, .partition-yellow .panel-tools > a {
  color: rgba(44, 47, 59, 0.7) !important;
}
.panel-yellow .panel-tools .btn:hover, .panel-yellow .panel-tools > a:hover, .partition-yellow .panel-tools .btn:hover, .partition-yellow .panel-tools > a:hover {
  color: #2c2f3b !important;
}

.panel-white, .partition-white {
  background-color: white;
  position: relative;
  color: #8b91a0;
}

.panel-dark, .partition-dark {
  background-color: #2c2f3b;
  position: relative;
  background-color: #373b4a 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#373b4a 0px), to(#2c2f3b 100%));
  background-image: -webkit-linear-gradient(top, #373b4a 0px, #2c2f3b 100%);
  background-image: -moz-linear-gradient(top, #373b4a 0px, #2c2f3b 100%);
  background-image: -ms-linear-gradient(top, #373b4a 0px, #2c2f3b 100%);
  background-image: -o-linear-gradient(top, #373b4a 0px, #2c2f3b 100%);
  background-image: linear-gradient(top, #373b4a 0px, #2c2f3b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#373b4a 0px', endColorStr='#2c2f3b 100%');
  color: white;
}
.panel-dark .panel-tools .btn, .panel-dark .panel-tools > a, .partition-dark .panel-tools .btn, .partition-dark .panel-tools > a {
  color: rgba(255, 255, 255, 0.7) !important;
}
.panel-dark .panel-tools .btn:hover, .panel-dark .panel-tools > a:hover, .partition-dark .panel-tools .btn:hover, .partition-dark .panel-tools > a:hover {
  color: white !important;
}

.panel-scroll {
  height: 400px;
  overflow: hidden;
  position: relative;
  width: auto;
  padding-right: 10px !important;
}

.panel-note {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
}
.panel-note .panel-heading {
  background: url("../images/note_dot.png") repeat-x;
  border-bottom: 0 none;
  padding-top: 30px;
  padding-bottom: 10px;
  top: 0;
  z-index: 3;
  position: relative;
}
.panel-note .panel-heading h3 {
  margin: 0;
}
.panel-note .panel-body {
  background: url("../images/line.png") repeat;
  padding: 0;
  margin: 0 15px;
  line-height: 18px;
}
.panel-note .panel-footer {
  background: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top: none;
  padding: 10px 15px;
  margin-bottom: 0;
}
.panel-note .panel-footer .avatar-note {
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 10px;
}
.panel-note .panel-footer .avatar-note img {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.panel-note .panel-footer .author-note {
  display: block;
  line-height: 14px;
}
.panel-note .panel-footer .timestamp {
  color: #999999;
  display: inline-block;
  font-size: 11px;
}
.panel-note .note-options a {
  margin-left: 10px;
  font-size: 12px;
}
.panel-note .note-options a:hover {
  text-decoration: none;
}

[class^="partition-"]:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}



/* Overides 
------------------------------------
*/
.no-padding {
  padding: 0px !important;
}
.no-margin {
  margin: 0px !important;
}
.no-overflow {
  overflow: hidden !important;
}
.auto-overflow {
  overflow: auto !important;
}
.reset-overflow {
  overflow: initial !important;
}
.center-margin {
  margin-left: auto;
  margin-right: auto;
}
.inherit-size {
  width: inherit;
  height: inherit;
}
.inherit-height {
  height: inherit;
}
.image-responsive-height {
  width: 100%;
	height: auto;
}
.image-responsive-width {
  height: 100%;
	width: auto;
}
.image-responsive{
	height: auto;
	display: inline-block;
	max-width: 100%;
}
.overlayer {
  position: absolute;
  display: block;
  z-index: 21;
}
.overlayer.fullwidth {
  width: 100%;
}
.overlayer-wrapper {
  position: relative;
  display: block;
  z-index: 10;
}
.overlay-fixed {
  position: fixed !important;
  top: auto !important;
}
.top-left {
  position: absolute !important;
  top: 0;
  left: 0;
}
.top-right {
  position: absolute !important;
  top: 1px;
  right: 0;
}
.bottom-left {
  position: absolute !important;
  bottom: 1px;
  left: 0;
}
.bottom-right {
  position: absolute !important;
  bottom: 0;
  right: 0;
}
.pull-bottom {
  position: absolute !important;
  bottom: 0;
}
.pull-up {
  position: absolute !important;
  top: 0;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.pull-center {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  display: table;
  z-index: 1;
}
.cursor {
  cursor: pointer;
}
.scroll-x-hidden {
  overflow-x: hidden !important;
}
.container-sm{
	max-width: 750px;
}
.container-xs{
	max-width: 480px;
}

@media (max-width: 767px) {
.no-float-sm{
	float: none !important
}
}
@media (max-width: 480px) {
.no-float-xs{
	float: none !important
}
}

/* ---------------------------------------------------------------------- */
/*  Spacer
/* ---------------------------------------------------------------------- */
.p-t-0 {
  padding-top: 0px !important;
}
.p-r-0 {
  padding-right: 0px !important;
}
.p-l-0 {
  padding-left: 0px !important;
}
.p-b-0 {
  padding-bottom: 0px !important;
}
.padding-0 {
  padding: 0px !important;
}
.p-t-5 {
  padding-top: 5px !important;
}
.p-r-5 {
  padding-right: 5px !important;
}
.p-l-5 {
  padding-left: 5px !important;
}
.p-b-5 {
  padding-bottom: 5px !important;
}
.padding-5 {
  padding: 5px !important;
}
.p-t-10 {
  padding-top: 10px !important;
}
.p-r-10 {
  padding-right: 10px !important;
}
.p-l-10 {
  padding-left: 10px !important;
}
.p-b-10 {
  padding-bottom: 10px !important;
}
.padding-10 {
  padding: 10px !important;
}
.p-t-15 {
  padding-top: 15px !important;
}
.p-r-15 {
  padding-right: 15px !important;
}
.p-l-15 {
  padding-left: 15px !important;
}
.p-b-15 {
  padding-bottom: 15px !important;
}
.padding-15 {
  padding: 15px !important;
}
.p-t-20 {
  padding-top: 20px !important;
}
.p-r-20 {
  padding-right: 20px !important;
}
.p-l-20 {
  padding-left: 20px !important;
}
.p-b-20 {
  padding-bottom: 20px !important;
}
.padding-20 {
  padding: 20px !important;
}
.p-t-25 {
  padding-top: 25px !important;
}
.p-r-25 {
  padding-right: 25px !important;
}
.p-l-25 {
  padding-left: 25px !important;
}
.p-b-25 {
  padding-bottom: 25px !important;
}
.padding-25 {
  padding: 25px !important;
}
.p-t-30 {
  padding-top: 30px !important;
}
.p-r-30 {
  padding-right: 30px !important;
}
.p-l-30 {
  padding-left: 30px !important;
}
.p-b-30 {
  padding-bottom: 30px !important;
}
.padding-30 {
  padding: 30px !important;
}
.p-t-35 {
  padding-top: 35px !important;
}
.p-r-35 {
  padding-right: 35px !important;
}
.p-l-35 {
  padding-left: 35px !important;
}
.p-b-35 {
  padding-bottom: 35px !important;
}
.padding-35 {
  padding: 35px !important;
}
.p-t-40 {
  padding-top: 40px !important;
}
.p-r-40 {
  padding-right: 40px !important;
}
.p-l-40 {
  padding-left: 40px !important;
}
.p-b-40 {
  padding-bottom: 40px !important;
}
.padding-40 {
  padding: 40px !important;
}
.p-t-45 {
  padding-top: 45px !important;
}
.p-r-45 {
  padding-right: 45px !important;
}
.p-l-45 {
  padding-left: 45px !important;
}
.p-b-45 {
  padding-bottom: 45px !important;
}
.padding-45 {
  padding: 45px !important;
}
.p-t-50 {
  padding-top: 50px !important;
}
.p-r-50 {
  padding-right: 50px !important;
}
.p-l-50 {
  padding-left: 50px !important;
}
.p-b-50 {
  padding-bottom: 50px !important;
}
.padding-50 {
  padding: 50px !important;
}
.p-t-55 {
  padding-top: 55px !important;
}
.p-r-55 {
  padding-right: 55px !important;
}
.p-l-55 {
  padding-left: 55px !important;
}
.p-b-55 {
  padding-bottom: 55px !important;
}
.padding-55 {
  padding: 55px !important;
}
.p-t-60 {
  padding-top: 60px !important;
}
.p-r-60 {
  padding-right: 60px !important;
}
.p-l-60 {
  padding-left: 60px !important;
}
.p-b-60 {
  padding-bottom: 60px !important;
}
.padding-60 {
  padding: 60px !important;
}
.p-t-65 {
  padding-top: 65px !important;
}
.p-r-65 {
  padding-right: 65px !important;
}
.p-l-65 {
  padding-left: 65px !important;
}
.p-b-65 {
  padding-bottom: 65px !important;
}
.padding-65 {
  padding: 65px !important;
}
.p-t-70 {
  padding-top: 70px !important;
}
.p-r-70 {
  padding-right: 70px !important;
}
.p-l-70 {
  padding-left: 70px !important;
}
.p-b-70 {
  padding-bottom: 70px !important;
}
.padding-70 {
  padding: 70px !important;
}
.p-t-75 {
  padding-top: 75px !important;
}
.p-r-75 {
  padding-right: 75px !important;
}
.p-l-75 {
  padding-left: 75px !important;
}
.p-b-75 {
  padding-bottom: 75px !important;
}
.padding-75 {
  padding: 75px !important;
}
.p-t-80 {
  padding-top: 80px !important;
}
.p-r-80 {
  padding-right: 80px !important;

}
.p-l-80 {
  padding-left: 80px !important;
}
.p-b-80 {
  padding-bottom: 80px !important;
}
.padding-80 {
  padding: 80px !important;
}
.p-t-85 {
  padding-top: 85px !important;
}
.p-r-85 {
  padding-right: 85px !important;
}
.p-l-85 {
  padding-left: 85px !important;
}
.p-b-85 {
  padding-bottom: 85px !important;
}
.padding-85 {
  padding: 85px !important;
}
.p-t-90 {
  padding-top: 90px !important;
}
.p-r-90 {
  padding-right: 90px !important;
}
.p-l-90 {
  padding-left: 90px !important;
}
.p-b-90 {
  padding-bottom: 90px !important;
}
.padding-90 {
  padding: 90px !important;
}
.p-t-95 {
  padding-top: 95px !important;
}
.p-r-95 {
  padding-right: 95px !important;
}
.p-l-95 {
  padding-left: 95px !important;
}
.p-b-95 {
  padding-bottom: 95px !important;
}
.padding-95 {
  padding: 95px !important;
}
.p-t-100 {
  padding-top: 100px !important;
}
.p-r-100 {
  padding-right: 100px !important;
}
.p-l-100 {
  padding-left: 100px !important;
}
.p-b-100 {
  padding-bottom: 100px !important;
}
.padding-100 {
  padding: 100px !important;
}
/* Generic Margin Helpers
------------------------------------
 */
.m-t-0 {
  margin-top: 0px !important;
}
.m-r-0 {
  margin-right: 0px !important;
}
.m-l-0 {
  margin-left: 0px !important;
}
.m-b-0 {
  margin-bottom: 0px !important;
}
.m-t-5 {
  margin-top: 5px;
}
.m-r-5 {
  margin-right: 5px;
}
.m-l-5 {
  margin-left: 5px;
}
.m-b-5 {
  margin-bottom: 5px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-l-10 {
  margin-left: 10px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-t-15 {
  margin-top: 15px;
}
.m-r-15 {
  margin-right: 15px;
}
.m-l-15 {
  margin-left: 15px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-r-20 {
  margin-right: 20px;
}
.m-l-20 {
  margin-left: 20px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-t-25 {
  margin-top: 25px;
}
.m-r-25 {
  margin-right: 25px;
}
.m-l-25 {
  margin-left: 25px;
}
.m-b-25 {
  margin-bottom: 25px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-r-30 {
  margin-right: 30px;
}
.m-l-30 {
  margin-left: 30px;
}
.m-b-30 {
  margin-bottom: 30px;
}
.m-t-35 {
  margin-top: 35px;
}
.m-r-35 {
  margin-right: 35px;
}
.m-l-35 {
  margin-left: 35px;
}
.m-b-35 {
  margin-bottom: 35px;
}
.m-t-40 {
  margin-top: 40px;
}
.m-r-40 {
  margin-right: 40px;
}
.m-l-40 {
  margin-left: 40px;
}
.m-b-40 {
  margin-bottom: 40px;
}
.m-t-45 {
  margin-top: 45px;
}
.m-r-45 {
  margin-right: 45px;
}
.m-l-45 {
  margin-left: 45px;
}
.m-b-45 {
  margin-bottom: 45px;
}
.m-t-50 {
  margin-top: 50px;
}
.m-r-50 {
  margin-right: 50px;
}
.m-l-50 {
  margin-left: 50px;
}
.m-b-50 {
  margin-bottom: 50px;
}
.m-t-55 {
  margin-top: 55px;
}
.m-r-55 {
  margin-right: 55px;
}
.m-l-55 {
  margin-left: 55px;
}
.m-b-55 {
  margin-bottom: 55px;
}
.m-t-60 {
  margin-top: 60px;
}
.m-r-60 {
  margin-right: 60px;
}
.m-l-60 {
  margin-left: 60px;
}
.m-b-60 {
  margin-bottom: 60px;
}
.m-t-65 {
  margin-top: 65px;
}
.m-r-65 {
  margin-right: 65px;
}
.m-l-65 {
  margin-left: 65px;
}
.m-b-65 {
  margin-bottom: 65px;
}
.m-t-70 {
  margin-top: 70px;
}
.m-r-70 {
  margin-right: 70px;
}
.m-l-70 {
  margin-left: 70px;
}
.m-b-70 {
  margin-bottom: 70px;
}
.m-t-75 {
  margin-top: 75px;
}
.m-r-75 {
  margin-right: 75px;
}
.m-l-75 {
  margin-left: 75px;
}
.m-b-75 {
  margin-bottom: 75px;
}
.m-t-80 {
  margin-top: 80px;
}
.m-r-80 {
  margin-right: 80px;
}
.m-l-80 {
  margin-left: 80px;
}
.m-b-80 {
  margin-bottom: 80px;
}
.m-t-85 {
  margin-top: 85px;
}
.m-r-85 {
  margin-right: 85px;
}
.m-l-85 {
  margin-left: 85px;
}
.m-b-85 {
  margin-bottom: 85px;
}
.m-t-90 {
  margin-top: 90px;
}
.m-r-90 {
  margin-right: 90px;
}
.m-l-90 {
  margin-left: 90px;
}
.m-b-90 {
  margin-bottom: 90px;
}
.m-t-95 {
  margin-top: 95px;
}
.m-r-95 {
  margin-right: 95px;
}
.m-l-95 {
  margin-left: 95px;
}
.m-b-95 {
  margin-bottom: 95px;
}
.m-t-100 {
  margin-top: 100px;
}
.m-r-100 {
  margin-right: 100px;
}
.m-l-100 {
  margin-left: 100px;
}
.m-b-100 {
  margin-bottom: 100px;
}
@media all and (max-width: 992px) {
.p-t-sm-0 {
  padding-top: 0px !important;
}
.p-r-sm-0 {
  padding-right: 0px !important;
}
.p-l-sm-0 {
  padding-left: 0px !important;
}
.p-b-sm-0 {
  padding-bottom: 0px !important;
}
.padding-sm-0 {
  padding: 0px !important;
}
.p-t-sm-5 {
  padding-top: 5px !important;
}
.p-r-sm-5 {
  padding-right: 5px !important;
}
.p-l-sm-5 {
  padding-left: 5px !important;
}
.p-b-sm-5 {
  padding-bottom: 5px !important;
}
.padding-sm-5 {
  padding: 5px !important;
}
.p-t-sm-10 {
  padding-top: 10px !important;
}
.p-r-sm-10 {
  padding-right: 10px !important;
}
.p-l-sm-10 {
  padding-left: 10px !important;
}
.p-b-sm-10 {
  padding-bottom: 10px !important;
}
.padding-sm-10 {
  padding: 10px !important;
}
.p-t-sm-15 {
  padding-top: 15px !important;
}
.p-r-sm-15 {
  padding-right: 15px !important;
}
.p-l-sm-15 {
  padding-left: 15px !important;
}
.p-b-sm-15 {
  padding-bottom: 15px !important;
}
.padding-sm-15 {
  padding: 15px !important;
}
.p-t-sm-20 {
  padding-top: 20px !important;
}
.p-r-sm-20 {
  padding-right: 20px !important;
}
.p-l-sm-20 {
  padding-left: 20px !important;
}
.p-b-sm-20 {
  padding-bottom: 20px !important;
}
.padding-sm-20 {
  padding: 20px !important;
}
.p-t-sm-25 {
  padding-top: 25px !important;
}
.p-r-sm-25 {
  padding-right: 25px !important;
}
.p-l-sm-25 {
  padding-left: 25px !important;
}
.p-b-sm-25 {
  padding-bottom: 25px !important;
}
.padding-sm-25 {
  padding: 25px !important;
}
.p-t-sm-30 {
  padding-top: 30px !important;
}
.p-r-sm-30 {
  padding-right: 30px !important;
}
.p-l-sm-30 {
  padding-left: 30px !important;
}
.p-b-sm-30 {
  padding-bottom: 30px !important;
}
.padding-sm-30 {
  padding: 30px !important;
}
.p-t-sm-35 {
  padding-top: 35px !important;
}
.p-r-sm-35 {
  padding-right: 35px !important;
}
.p-l-sm-35 {
  padding-left: 35px !important;
}
.p-b-sm-35 {
  padding-bottom: 35px !important;
}
.padding-sm-35 {
  padding: 35px !important;
}
.p-t-sm-40 {
  padding-top: 40px !important;
}
.p-r-sm-40 {
  padding-right: 40px !important;
}
.p-l-sm-40 {
  padding-left: 40px !important;
}
.p-b-sm-40 {
  padding-bottom: 40px !important;
}
.padding-sm-40 {
  padding: 40px !important;
}
.p-t-sm-45 {
  padding-top: 45px !important;
}
.p-r-sm-45 {
  padding-right: 45px !important;
}
.p-l-sm-45 {
  padding-left: 45px !important;
}
.p-b-sm-45 {
  padding-bottom: 45px !important;
}
.padding-sm-45 {
  padding: 45px !important;
}
.p-t-sm-50 {
  padding-top: 50px !important;
}
.p-r-sm-50 {
  padding-right: 50px !important;
}
.p-l-sm-50 {
  padding-left: 50px !important;
}
.p-b-sm-50 {
  padding-bottom: 50px !important;
}
.padding-sm-50 {
  padding: 50px !important;
}
.p-t-sm-55 {
  padding-top: 55px !important;
}
.p-r-sm-55 {
  padding-right: 55px !important;
}
.p-l-sm-55 {
  padding-left: 55px !important;
}
.p-b-sm-55 {
  padding-bottom: 55px !important;
}
.padding-sm-55 {
  padding: 55px !important;
}
.p-t-sm-60 {
  padding-top: 60px !important;
}
.p-r-sm-60 {
  padding-right: 60px !important;
}
.p-l-sm-60 {
  padding-left: 60px !important;
}
.p-b-sm-60 {
  padding-bottom: 60px !important;
}
.padding-sm-60 {
  padding: 60px !important;
}
.p-t-sm-65 {
  padding-top: 65px !important;
}
.p-r-sm-65 {
  padding-right: 65px !important;
}
.p-l-sm-65 {
  padding-left: 65px !important;
}
.p-b-sm-65 {
  padding-bottom: 65px !important;
}
.padding-sm-65 {
  padding: 65px !important;
}
.p-t-sm-70 {
  padding-top: 70px !important;
}
.p-r-sm-70 {
  padding-right: 70px !important;
}
.p-l-sm-70 {
  padding-left: 70px !important;
}
.p-b-sm-70 {
  padding-bottom: 70px !important;
}
.padding-sm-70 {
  padding: 70px !important;
}
.p-t-sm-75 {
  padding-top: 75px !important;
}
.p-r-sm-75 {
  padding-right: 75px !important;
}
.p-l-sm-75 {
  padding-left: 75px !important;
}
.p-b-sm-75 {
  padding-bottom: 75px !important;
}
.padding-sm-75 {
  padding: 75px !important;
}
.p-t-sm-80 {
  padding-top: 80px !important;
}
.p-r-sm-80 {
  padding-right: 80px !important;
}
.p-l-sm-80 {
  padding-left: 80px !important;
}
.p-b-sm-80 {
  padding-bottom: 80px !important;
}
.padding-sm-80 {
  padding: 80px !important;
}
.p-t-sm-85 {
  padding-top: 85px !important;
}
.p-r-sm-85 {
  padding-right: 85px !important;
}
.p-l-sm-85 {
  padding-left: 85px !important;
}
.p-b-sm-85 {
  padding-bottom: 85px !important;
}
.padding-sm-85 {
  padding: 85px !important;
}
.p-t-sm-90 {
  padding-top: 90px !important;
}
.p-r-sm-90 {
  padding-right: 90px !important;
}
.p-l-sm-90 {
  padding-left: 90px !important;
}
.p-b-sm-90 {
  padding-bottom: 90px !important;
}
.padding-sm-90 {
  padding: 90px !important;
}
.p-t-sm-95 {
  padding-top: 95px !important;
}
.p-r-sm-95 {
  padding-right: 95px !important;
}
.p-l-sm-95 {
  padding-left: 95px !important;
}
.p-b-sm-95 {
  padding-bottom: 95px !important;
}
.padding-sm-95 {
  padding: 95px !important;
}
.p-t-sm-100 {
  padding-top: 100px !important;
}
.p-r-sm-100 {
  padding-right: 100px !important;
}
.p-l-sm-100 {
  padding-left: 100px !important;
}
.p-b-sm-100 {
  padding-bottom: 100px !important;
}
.padding-sm-100 {
  padding: 100px !important;
}
}
@media all and (max-width: 768px) {
.p-t-xs-0 {
  padding-top: 0px !important;
}
.p-r-xs-0 {
  padding-right: 0px !important;
}
.p-l-xs-0 {
  padding-left: 0px !important;
}
.p-b-xs-0 {
  padding-bottom: 0px !important;
}
.padding-xs-0 {
  padding: 0px !important;
}
.p-t-xs-5 {
  padding-top: 5px !important;
}
.p-r-xs-5 {
  padding-right: 5px !important;
}
.p-l-xs-5 {
  padding-left: 5px !important;
}
.p-b-xs-5 {
  padding-bottom: 5px !important;
}
.padding-xs-5 {
  padding: 5px !important;
}
.p-t-xs-10 {
  padding-top: 10px !important;
}
.p-r-xs-10 {
  padding-right: 10px !important;
}
.p-l-xs-10 {
  padding-left: 10px !important;
}
.p-b-xs-10 {
  padding-bottom: 10px !important;
}
.padding-xs-10 {
  padding: 10px !important;
}
.p-t-xs-15 {
  padding-top: 15px !important;
}
.p-r-xs-15 {
  padding-right: 15px !important;
}
.p-l-xs-15 {
  padding-left: 15px !important;
}
.p-b-xs-15 {
  padding-bottom: 15px !important;
}
.padding-xs-15 {
  padding: 15px !important;
}
.p-t-xs-20 {
  padding-top: 20px !important;
}
.p-r-xs-20 {
  padding-right: 20px !important;
}
.p-l-xs-20 {
  padding-left: 20px !important;
}
.p-b-xs-20 {
  padding-bottom: 20px !important;
}
.padding-xs-20 {
  padding: 20px !important;
}
.p-t-xs-25 {
  padding-top: 25px !important;
}
.p-r-xs-25 {
  padding-right: 25px !important;
}
.p-l-xs-25 {
  padding-left: 25px !important;
}
.p-b-xs-25 {
  padding-bottom: 25px !important;
}
.padding-xs-25 {
  padding: 25px !important;
}
.p-t-xs-30 {
  padding-top: 30px !important;
}
.p-r-xs-30 {
  padding-right: 30px !important;
}
.p-l-xs-30 {
  padding-left: 30px !important;
}
.p-b-xs-30 {
  padding-bottom: 30px !important;
}
.padding-xs-30 {
  padding: 30px !important;
}
.p-t-xs-35 {
  padding-top: 35px !important;
}
.p-r-xs-35 {
  padding-right: 35px !important;
}
.p-l-xs-35 {
  padding-left: 35px !important;
}
.p-b-xs-35 {
  padding-bottom: 35px !important;
}
.padding-xs-35 {
  padding: 35px !important;
}
.p-t-xs-40 {
  padding-top: 40px !important;
}
.p-r-xs-40 {
  padding-right: 40px !important;
}
.p-l-xs-40 {
  padding-left: 40px !important;
}
.p-b-xs-40 {
  padding-bottom: 40px !important;
}
.padding-xs-40 {
  padding: 40px !important;
}
.p-t-xs-45 {
  padding-top: 45px !important;
}
.p-r-xs-45 {
  padding-right: 45px !important;
}
.p-l-xs-45 {
  padding-left: 45px !important;
}
.p-b-xs-45 {
  padding-bottom: 45px !important;
}
.padding-xs-45 {
  padding: 45px !important;
}
.p-t-xs-50 {
  padding-top: 50px !important;
}
.p-r-xs-50 {
  padding-right: 50px !important;
}
.p-l-xs-50 {
  padding-left: 50px !important;
}
.p-b-xs-50 {
  padding-bottom: 50px !important;
}
.padding-xs-50 {
  padding: 50px !important;
}
.p-t-xs-55 {
  padding-top: 55px !important;
}
.p-r-xs-55 {
  padding-right: 55px !important;
}
.p-l-xs-55 {
  padding-left: 55px !important;
}
.p-b-xs-55 {
  padding-bottom: 55px !important;
}
.padding-xs-55 {
  padding: 55px !important;
}
.p-t-xs-60 {
  padding-top: 60px !important;
}
.p-r-xs-60 {
  padding-right: 60px !important;
}
.p-l-xs-60 {
  padding-left: 60px !important;
}
.p-b-xs-60 {
  padding-bottom: 60px !important;
}
.padding-xs-60 {
  padding: 60px !important;
}
.p-t-xs-65 {
  padding-top: 65px !important;
}
.p-r-xs-65 {
  padding-right: 65px !important;
}
.p-l-xs-65 {
  padding-left: 65px !important;
}
.p-b-xs-65 {
  padding-bottom: 65px !important;
}
.padding-xs-65 {
  padding: 65px !important;
}
.p-t-xs-70 {
  padding-top: 70px !important;
}
.p-r-xs-70 {
  padding-right: 70px !important;
}
.p-l-xs-70 {
  padding-left: 70px !important;
}
.p-b-xs-70 {
  padding-bottom: 70px !important;
}
.padding-xs-70 {
  padding: 70px !important;
}
.p-t-xs-75 {
  padding-top: 75px !important;
}
.p-r-xs-75 {
  padding-right: 75px !important;
}
.p-l-xs-75 {
  padding-left: 75px !important;
}
.p-b-xs-75 {
  padding-bottom: 75px !important;
}
.padding-xs-75 {
  padding: 75px !important;
}
.p-t-xs-80 {
  padding-top: 80px !important;
}
.p-r-xs-80 {
  padding-right: 80px !important;
}
.p-l-xs-80 {
  padding-left: 80px !important;
}
.p-b-xs-80 {
  padding-bottom: 80px !important;
}
.padding-xs-80 {
  padding: 80px !important;
}
.p-t-xs-85 {
  padding-top: 85px !important;
}
.p-r-xs-85 {
  padding-right: 85px !important;
}
.p-l-xs-85 {
  padding-left: 85px !important;
}
.p-b-xs-85 {
  padding-bottom: 85px !important;
}
.padding-xs-85 {
  padding: 85px !important;
}
.p-t-xs-90 {
  padding-top: 90px !important;
}
.p-r-xs-90 {
  padding-right: 90px !important;
}
.p-l-xs-90 {
  padding-left: 90px !important;
}
.p-b-xs-90 {
  padding-bottom: 90px !important;
}
.padding-xs-90 {
  padding: 90px !important;
}
.p-t-xs-95 {
  padding-top: 95px !important;
}
.p-r-xs-95 {
  padding-right: 95px !important;
}
.p-l-xs-95 {
  padding-left: 95px !important;
}
.p-b-xs-95 {
  padding-bottom: 95px !important;
}
.padding-xs-95 {
  padding: 95px !important;
}
.p-t-xs-100 {
  padding-top: 100px !important;
}
.p-r-xs-100 {
  padding-right: 100px !important;
}
.p-l-xs-100 {
  padding-left: 100px !important;
}
.p-b-xs-100 {
  padding-bottom: 100px !important;
}
.padding-xs-100 {
  padding: 100px !important;
}
}




@media all and (max-width: 992px) {
.m-t-sm-0 {
  margin-top: 0px !important;
}
.m-r-sm-0 {
  margin-right: 0px !important;
}
.m-l-sm-0 {
  margin-left: 0px !important;
}
.m-b-sm-0 {
  margin-bottom: 0px !important;
}
.margin-sm-0 {
  margin: 0px !important;
}
.m-t-sm-5 {
  margin-top: 5px !important;
}
.m-r-sm-5 {
  margin-right: 5px !important;
}
.m-l-sm-5 {
  margin-left: 5px !important;
}
.m-b-sm-5 {
  margin-bottom: 5px !important;
}
.margin-sm-5 {
  margin: 5px !important;
}
.m-t-sm-10 {
  margin-top: 10px !important;
}
.m-r-sm-10 {
  margin-right: 10px !important;
}
.m-l-sm-10 {
  margin-left: 10px !important;
}
.m-b-sm-10 {
  margin-bottom: 10px !important;
}
.margin-sm-10 {
  margin: 10px !important;
}
.m-t-sm-15 {
  margin-top: 15px !important;
}
.m-r-sm-15 {
  margin-right: 15px !important;
}
.m-l-sm-15 {
  margin-left: 15px !important;
}
.m-b-sm-15 {
  margin-bottom: 15px !important;
}
.margin-sm-15 {
  margin: 15px !important;
}
.m-t-sm-20 {
  margin-top: 20px !important;
}
.m-r-sm-20 {
  margin-right: 20px !important;
}
.m-l-sm-20 {
  margin-left: 20px !important;
}
.m-b-sm-20 {
  margin-bottom: 20px !important;
}
.margin-sm-20 {
  margin: 20px !important;
}
.m-t-sm-25 {
  margin-top: 25px !important;
}
.m-r-sm-25 {
  margin-right: 25px !important;
}
.m-l-sm-25 {
  margin-left: 25px !important;
}
.m-b-sm-25 {
  margin-bottom: 25px !important;
}
.margin-sm-25 {
  margin: 25px !important;
}
.m-t-sm-30 {
  margin-top: 30px !important;
}
.m-r-sm-30 {
  margin-right: 30px !important;
}
.m-l-sm-30 {
  margin-left: 30px !important;
}
.m-b-sm-30 {
  margin-bottom: 30px !important;
}
.margin-sm-30 {
  margin: 30px !important;
}
.m-t-sm-35 {
  margin-top: 35px !important;
}
.m-r-sm-35 {
  margin-right: 35px !important;
}
.m-l-sm-35 {
  margin-left: 35px !important;
}
.m-b-sm-35 {
  margin-bottom: 35px !important;
}
.margin-sm-35 {
  margin: 35px !important;
}
.m-t-sm-40 {
  margin-top: 40px !important;
}
.m-r-sm-40 {
  margin-right: 40px !important;
}
.m-l-sm-40 {
  margin-left: 40px !important;
}
.m-b-sm-40 {
  margin-bottom: 40px !important;
}
.margin-sm-40 {
  margin: 40px !important;
}
.m-t-sm-45 {
  margin-top: 45px !important;
}
.m-r-sm-45 {
  margin-right: 45px !important;
}
.m-l-sm-45 {
  margin-left: 45px !important;
}
.m-b-sm-45 {
  margin-bottom: 45px !important;
}
.margin-sm-45 {
  margin: 45px !important;
}
.m-t-sm-50 {
  margin-top: 50px !important;
}
.m-r-sm-50 {
  margin-right: 50px !important;
}
.m-l-sm-50 {
  margin-left: 50px !important;
}
.m-b-sm-50 {
  margin-bottom: 50px !important;
}
.margin-sm-50 {
  margin: 50px !important;
}
.m-t-sm-55 {
  margin-top: 55px !important;
}
.m-r-sm-55 {
  margin-right: 55px !important;
}
.m-l-sm-55 {
  margin-left: 55px !important;
}
.m-b-sm-55 {
  margin-bottom: 55px !important;
}
.margin-sm-55 {
  margin: 55px !important;
}
.m-t-sm-60 {
  margin-top: 60px !important;
}
.m-r-sm-60 {
  margin-right: 60px !important;
}
.m-l-sm-60 {
  margin-left: 60px !important;
}
.m-b-sm-60 {
  margin-bottom: 60px !important;
}
.margin-sm-60 {
  margin: 60px !important;
}
.m-t-sm-65 {
  margin-top: 65px !important;
}
.m-r-sm-65 {
  margin-right: 65px !important;
}
.m-l-sm-65 {
  margin-left: 65px !important;
}
.m-b-sm-65 {
  margin-bottom: 65px !important;
}
.margin-sm-65 {
  margin: 65px !important;
}
.m-t-sm-70 {
  margin-top: 70px !important;
}
.m-r-sm-70 {
  margin-right: 70px !important;
}
.m-l-sm-70 {
  margin-left: 70px !important;
}
.m-b-sm-70 {
  margin-bottom: 70px !important;
}
.margin-sm-70 {
  margin: 70px !important;
}
.m-t-sm-75 {
  margin-top: 75px !important;
}
.m-r-sm-75 {
  margin-right: 75px !important;
}
.m-l-sm-75 {
  margin-left: 75px !important;
}
.m-b-sm-75 {
  margin-bottom: 75px !important;
}
.margin-sm-75 {
  margin: 75px !important;
}
.m-t-sm-80 {
  margin-top: 80px !important;
}
.m-r-sm-80 {
  margin-right: 80px !important;
}
.m-l-sm-80 {
  margin-left: 80px !important;
}
.m-b-sm-80 {
  margin-bottom: 80px !important;
}
.margin-sm-80 {
  margin: 80px !important;
}
.m-t-sm-85 {
  margin-top: 85px !important;
}
.m-r-sm-85 {
  margin-right: 85px !important;
}
.m-l-sm-85 {
  margin-left: 85px !important;
}
.m-b-sm-85 {
  margin-bottom: 85px !important;
}
.margin-sm-85 {
  margin: 85px !important;
}
.m-t-sm-90 {
  margin-top: 90px !important;
}
.m-r-sm-90 {
  margin-right: 90px !important;
}
.m-l-sm-90 {
  margin-left: 90px !important;
}
.m-b-sm-90 {
  margin-bottom: 90px !important;
}
.margin-sm-90 {
  margin: 90px !important;
}
.m-t-sm-95 {
  margin-top: 95px !important;
}
.m-r-sm-95 {
  margin-right: 95px !important;
}
.m-l-sm-95 {
  margin-left: 95px !important;
}
.m-b-sm-95 {
  margin-bottom: 95px !important;
}
.margin-sm-95 {
  margin: 95px !important;
}
.m-t-sm-100 {
  margin-top: 100px !important;
}
.m-r-sm-100 {
  margin-right: 100px !important;
}
.m-l-sm-100 {
  margin-left: 100px !important;
}
.m-b-sm-100 {
  margin-bottom: 100px !important;
}
.margin-sm-100 {
  margin: 100px !important;
}
}
@media all and (max-width: 768px) {
.m-t-xs-0 {
  margin-top: 0px !important;
}
.m-r-xs-0 {
  margin-right: 0px !important;
}
.m-l-xs-0 {
  margin-left: 0px !important;
}
.m-b-xs-0 {
  margin-bottom: 0px !important;
}
.margin-xs-0 {
  margin: 0px !important;
}
.m-t-xs-5 {
  margin-top: 5px !important;
}
.m-r-xs-5 {
  margin-right: 5px !important;
}
.m-l-xs-5 {
  margin-left: 5px !important;
}
.m-b-xs-5 {
  margin-bottom: 5px !important;
}
.margin-xs-5 {
  margin: 5px !important;
}
.m-t-xs-10 {
  margin-top: 10px !important;
}
.m-r-xs-10 {
  margin-right: 10px !important;
}
.m-l-xs-10 {
  margin-left: 10px !important;
}
.m-b-xs-10 {
  margin-bottom: 10px !important;
}
.margin-xs-10 {
  margin: 10px !important;
}
.m-t-xs-15 {
  margin-top: 15px !important;
}
.m-r-xs-15 {
  margin-right: 15px !important;
}
.m-l-xs-15 {
  margin-left: 15px !important;
}
.m-b-xs-15 {
  margin-bottom: 15px !important;
}
.margin-xs-15 {
  margin: 15px !important;
}
.m-t-xs-20 {
  margin-top: 20px !important;
}
.m-r-xs-20 {
  margin-right: 20px !important;
}
.m-l-xs-20 {
  margin-left: 20px !important;
}
.m-b-xs-20 {
  margin-bottom: 20px !important;
}
.margin-xs-20 {
  margin: 20px !important;
}
.m-t-xs-25 {
  margin-top: 25px !important;
}
.m-r-xs-25 {
  margin-right: 25px !important;
}
.m-l-xs-25 {
  margin-left: 25px !important;
}
.m-b-xs-25 {
  margin-bottom: 25px !important;
}
.margin-xs-25 {
  margin: 25px !important;
}
.m-t-xs-30 {
  margin-top: 30px !important;
}
.m-r-xs-30 {
  margin-right: 30px !important;
}
.m-l-xs-30 {
  margin-left: 30px !important;
}
.m-b-xs-30 {
  margin-bottom: 30px !important;
}
.margin-xs-30 {
  margin: 30px !important;
}
.m-t-xs-35 {
  margin-top: 35px !important;
}
.m-r-xs-35 {
  margin-right: 35px !important;
}
.m-l-xs-35 {
  margin-left: 35px !important;
}
.m-b-xs-35 {
  margin-bottom: 35px !important;
}
.margin-xs-35 {
  margin: 35px !important;
}
.m-t-xs-40 {
  margin-top: 40px !important;
}
.m-r-xs-40 {
  margin-right: 40px !important;
}
.m-l-xs-40 {
  margin-left: 40px !important;
}
.m-b-xs-40 {
  margin-bottom: 40px !important;
}
.margin-xs-40 {
  margin: 40px !important;
}
.m-t-xs-45 {
  margin-top: 45px !important;
}
.m-r-xs-45 {
  margin-right: 45px !important;
}
.m-l-xs-45 {
  margin-left: 45px !important;
}
.m-b-xs-45 {
  margin-bottom: 45px !important;
}
.margin-xs-45 {
  margin: 45px !important;
}
.m-t-xs-50 {
  margin-top: 50px !important;
}
.m-r-xs-50 {
  margin-right: 50px !important;
}
.m-l-xs-50 {
  margin-left: 50px !important;
}
.m-b-xs-50 {
  margin-bottom: 50px !important;
}
.margin-xs-50 {
  margin: 50px !important;
}
.m-t-xs-55 {
  margin-top: 55px !important;
}
.m-r-xs-55 {
  margin-right: 55px !important;
}
.m-l-xs-55 {
  margin-left: 55px !important;
}
.m-b-xs-55 {
  margin-bottom: 55px !important;
}
.margin-xs-55 {
  margin: 55px !important;
}
.m-t-xs-60 {
  margin-top: 60px !important;
}
.m-r-xs-60 {
  margin-right: 60px !important;
}
.m-l-xs-60 {
  margin-left: 60px !important;
}
.m-b-xs-60 {
  margin-bottom: 60px !important;
}
.margin-xs-60 {
  margin: 60px !important;
}
.m-t-xs-65 {
  margin-top: 65px !important;
}
.m-r-xs-65 {
  margin-right: 65px !important;
}
.m-l-xs-65 {
  margin-left: 65px !important;
}
.m-b-xs-65 {
  margin-bottom: 65px !important;
}
.margin-xs-65 {
  margin: 65px !important;
}
.m-t-xs-70 {
  margin-top: 70px !important;
}
.m-r-xs-70 {
  margin-right: 70px !important;
}
.m-l-xs-70 {
  margin-left: 70px !important;
}
.m-b-xs-70 {
  margin-bottom: 70px !important;
}
.margin-xs-70 {
  margin: 70px !important;
}
.m-t-xs-75 {
  margin-top: 75px !important;
}
.m-r-xs-75 {
  margin-right: 75px !important;
}
.m-l-xs-75 {
  margin-left: 75px !important;
}
.m-b-xs-75 {
  margin-bottom: 75px !important;
}
.margin-xs-75 {
  margin: 75px !important;
}
.m-t-xs-80 {
  margin-top: 80px !important;
}
.m-r-xs-80 {
  margin-right: 80px !important;
}
.m-l-xs-80 {
  margin-left: 80px !important;
}
.m-b-xs-80 {
  margin-bottom: 80px !important;
}
.margin-xs-80 {
  margin: 80px !important;
}
.m-t-xs-85 {
  margin-top: 85px !important;
}
.m-r-xs-85 {
  margin-right: 85px !important;
}
.m-l-xs-85 {
  margin-left: 85px !important;
}
.m-b-xs-85 {
  margin-bottom: 85px !important;
}
.margin-xs-85 {
  margin: 85px !important;
}
.m-t-xs-90 {
  margin-top: 90px !important;
}
.m-r-xs-90 {
  margin-right: 90px !important;
}
.m-l-xs-90 {
  margin-left: 90px !important;
}
.m-b-xs-90 {
  margin-bottom: 90px !important;
}
.margin-xs-90 {
  margin: 90px !important;
}
.m-t-xs-95 {
  margin-top: 95px !important;
}
.m-r-xs-95 {
  margin-right: 95px !important;
}
.m-l-xs-95 {
  margin-left: 95px !important;
}
.m-b-xs-95 {
  margin-bottom: 95px !important;
}
.margin-xs-95 {
  margin: 95px !important;
}
.m-t-xs-100 {
  margin-top: 100px !important;
}
.m-r-xs-100 {
  margin-right: 100px !important;
}
.m-l-xs-100 {
  margin-left: 100px !important;
}
.m-b-xs-100 {
  margin-bottom: 100px !important;
}
.margin-xs-100 {
  margin: 100px !important;
}
}





.full-height {
  height: 100% !important;
}
.full-width {
  width: 100%;
}
.hide {
  display: none;
}
.inline {
  display: inline-block !important; 
}
.block {
  display: block;
}
.b-blank {
  border-color: #000;
}
@media (max-width: 767px) {
.m-auto-sm{
	float: none !important;
	margin-left: auto !important;
	margin-right: auto !important;
}
}
@media (max-width: 480px) {
.m-auto-xs{
	float: none !important;
	margin-left: auto !important;
	margin-right: auto !important;
}
}